<div data-controller="foo">
  <h1>Console Example</h1>

  <%= text_field_tag :name, "name", data: { target: "foo.name" } %>
  <%= button_tag :submit, data: { action: "foo#greet" } %>
</div>

<br>

<%= link_to 'ISP Form Example', forms_path %>

<br>

<%= link_to 'Clipboard Example', clipboard_path %>
