<h1>Stimulus.js Rails Examples</h1>

<%= link_to "Web Console", console_path %> 
<%= link_to "Clipboard", clipboard_path %> 
<%= link_to "ISP Form", isp_form_path %> 
<%= link_to "Passing Arguments To Actions", action_arguments_path %> 
